body {
    width: 100%;
    height: 100%;
}

a.list-group-item:active {
    color: #000;
}

a, a.list-group-item {
    color: #ee4d2d;
}

/* Navbar */

.navbar {
    background-color: #fff;
}

.navbar.fixed-start {
    z-index: 1030;
}

.navbar-brand {
    display: block;
}

.navbar-brand img {
    width: 100%;
    height: 4rem;
    object-fit: contain;
}

.navbar .list-group-item .active {
    color: #000;
}

.navbar .list-group-item {
    border: 0;
    border-bottom: 1px solid #f1f1f1;
}

.search-suggestion a:not(:last-child):after {
    content: ' ,';
}

/* Main content */

.main-content {
    margin-left: 0;
}

.search-menu {
    width: 65%;
}

.ads-box-field {
    padding: 1.4rem;
}

li.list-group-item a[type="button"] {
    display: block;
    appearance: none;
    -webkit-appearance: borderless-attachment;
    -moz-appearance: none;
}

.main-content .list-group-item {
    border: 0;
}

.main-content .category-headlines span {
    cursor: unset;
}

.main-content .list-group-item:before {
    content: "";
    position: absolute;
    left: 1rem;
    bottom: 0;
    width: 90%;
    border-bottom: 1px solid #f1f1f1;
}

.main-content .list-group-item a {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Ads page */

.search-header {
    background-color: #4182c3;
}

.search-header button {
    height: 32px;
}

.search-header input:focus, .search-header select:focus, .search-header button:focus  {
    box-shadow: none;
}

section.ads-page-content {
    background-color: #f9f7f6;
}

.main {
    padding-bottom: 1rem;
    padding-top: 1rem;
    min-height: 100vh;
}

/* Breadcrumb */

.top-menu.breadcrumb {
    background-color: inherit;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

/* Ads */

.products a {
    color: #000;
    text-decoration: none;
}

.products a:hover {
    color: #000;
    text-decoration: underline;
}

.product-image {
    height: 150px;
    width: 100%;
    background-color: #f9f7f6;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.product-post-date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

h3.product-title {
    font-size: 16px;
    font-weight: 500;
}

.product-price {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
}

/* Footer

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}*/

@media (min-width: 960px) {
    .container {
        width: 960px !important;
    }
}

/* Desktop view */

@media(min-width: 768px) {
    /* Navbar */

    .navbar-side.navbar-expand-md.fixed-start {
        border-width: 0 1px 0 0;
        left: 0;
    }

    .navbar-side.navbar-expand-md {
        bottom: 0;
        display: block;
        max-width: 250px;
        overflow-y: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: fixed;
        top: 0;
        width: 100%
    }

    .navbar-side.navbar-expand-md > .container-fluid {
        align-items: stretch;
        flex-direction: column;
        min-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-side.navbar-expand-md .navbar-collapse {
        align-items: stretch;
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        min-width: 100%;
        padding: 4.5rem 1.5rem 0 1.5rem;
        width: auto;
    }

    /* Main content */

    .main-content {
        margin-left: 250px;
    }
}

/* Mobile view */

@media(max-width: 568px) {
    /* Navbar */

    .navbar.navbar-side {
        padding-bottom: 0;
    }

    .navbar-brand img {
        height: 2rem;
    }
}