<!DOCTYPE html>
<html lang="en">

<head>
    {{> layouts/head title="Laku" }}
</head>

<body>

    <nav class="navbar navbar-side fixed-start navbar-expand-md navbar-light pt-5" id="sidebar">

        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand flex-grow-1 flex-md-grow-0 float-start me-0" href="#">
                <img src="./assets/images/laku.png" class="navbar-brand-img mx-auto" alt="laku">
            </a>

            <div class="navbar-collapse collapse" id="sidebarCollapse">

                <div class="search-menu mb-3 w-100 d-md-none">
                    <span>Taipkan carian iklan anda di bawah:</span>

                    <div class="input-group my-1">
                        <input type="text" class="form-control rounded-0 me-3">

                        <div class="search-button">
                            <button type="submit" class="btn btn-dark rounded-0" id="searchMenuMobile">Cari!</button>
                        </div>

                    </div>

                    <div class="search-suggestion">
                        <span>Contoh:</span>
                        <a href="#">Rumah sewa</a>
                        <a href="#">Toyota Corolla</a>
                        <a href="#">Kerja kosong</a>
                    </div>

                </div>

                <ul class="list-group">
                    <li class="list-group-item p-0">
                        <a type="button" href="#" class="text-decoration-none w-100 py-2 active">Halaman</a>
                    </li>
                    <li class="list-group-item p-0">
                        <a type="button" href="#" class="text-decoration-none w-100 py-2">Tentang kami</a>
                    </li>
                    <li class="list-group-item p-0">
                        <a type="button" href="#" class="text-decoration-none w-100 py-2">Panduan</a>
                    </li>
                    <li class="list-group-item p-0">
                        <a type="button" href="#" class="text-decoration-none w-100 py-2">Terma dan syarat</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <!-- Content -->
    <div class="main-content pt-1 pt-md-5">
        <nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="tobNav">

            <div class="container-fluid pe-4">

                <div class="search-menu mb-3">
                    <span>Taipkan carian iklan anda di bawah:</span>

                    <div class="input-group my-1">
                        <input type="text" class="form-control rounded-0 me-3">

                        <div class="search-button">
                            <button type="submit" class="btn btn-dark rounded-0" id="searchMenuDesktop">Cari!</button>
                        </div>

                    </div>

                    <div class="search-suggestion">
                        <span>Contoh:</span>
                        <a href="#">Rumah sewa</a>
                        <a href="#">Toyota Corolla</a>
                        <a href="#">Kerja kosong</a>
                    </div>

                </div>

            </div>

        </nav>

        <div class="container-fluid pe-4">

            <div class="row">

                <div class="col-12 col-lg-4 pb-0 pb-md-4">
                    <ul class="list-group bg-light rounded-0">
                        <li class="category-headlines list-group-item bg-light py-4">
                            <span class="btn btn-dark rounded-0 position-absolute top-0 start-0">Untuk dijual</span>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Kenderaan</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Rumah</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Alat telekomunikasi</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Komputer</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Buku</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Peralatan elektronik</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Lain - lain</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4 pb-0 pb-md-4">
                    <ul class="list-group bg-light rounded-0">
                        <li class="category-headlines list-group-item bg-light py-4">
                            <span class="btn btn-dark rounded-0 position-absolute top-0 start-0">Ingin mencari</span>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Kenderaan</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4 pb-0 pb-md-4">
                    <ul class="list-group bg-light rounded-0">
                        <li class="category-headlines list-group-item bg-light py-4">
                            <span class="btn btn-dark rounded-0 position-absolute top-0 start-0">Penyewaan</span>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Rumah/Bilik</a>
                        </li>
                        <li class="list-group-item bg-light px-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Bangunan/Premis</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Kenderaan</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Peralatan</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Pakaian</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Lain - lain</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4 pb-0 pb-md-4">
                    <ul class="list-group bg-light rounded-0">
                        <li class="category-headlines list-group-item bg-light py-4">
                            <span class="btn btn-dark rounded-0 position-absolute top-0 start-0">Servis</span>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Penghantaran</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Design/Kreatif</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4 pb-0 pb-md-4">
                    <a href="#" class="ads-box-field bg-dark text-decoration-none d-block w-100">
                        <h4 class="text-white text-center border-bottom no-gutters mb-0">Postkan Iklan Anda</h4>
                        <p class="text-muted text-center mb-0">Secara percuma!</p>
                    </a>
                </div>

                <div class="col-12 col-lg-4 pb-0 pb-md-4">
                    <ul class="list-group bg-light rounded-0">
                        <li class="category-headlines list-group-item bg-light py-4">
                            <span class="btn btn-dark rounded-0 position-absolute top-0 start-0">Kekosongan</span>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Sepenuh masa</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Separuh masa</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Kontrak</a>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Latihan praktikal</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4 pb-0 pb-md-4 flex-shring-1">
                    <ul class="list-group bg-light rounded-0">
                        <li class="category-headlines list-group-item bg-light py-4">
                            <span class="btn btn-dark rounded-0 position-absolute top-0 start-0">Komuniti</span>
                        </li>
                        <li class="list-group-item bg-light p-0">
                            <a type="button" href="#" class="text-decoration-none w-100 py-2">Hilang/Jumpa</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- ./row -->

        </div>
        <!-- ./container -->

    </div>
    <!-- ./Content -->

    <!-- Footer
    {{> layouts/footer-menu }}
    ./Footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Custom js -->
    <script defer="" src="./assets/js/main.bundle.js"></script>


  </body>

  </html>