<!DOCTYPE html>
<html lang="en">

<head>
    {{> layouts/head title="Laku" }}
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light">

        <div class="container">

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand float-start me-0" href="#">
                <img src="./assets/images/logo-laku.svg" class="navbar-brand-img mx-auto" alt="laku">
            </a>
            <a class="navbar-nav d-md-none" data-bs-toggle="collapse" href="#userCollapse" role="button" aria-expanded="false" aria-controls="userCollapse">
                <i data-feather="user" height="20" width="20"></i>
            </a>

            <div class="collapse navbar-collapse justify-content-end flex-grow-1 float-end" id="sidebarCollapse">

                <ul class="navbar-nav">
                    <li class="nav-item px-md-2">
                        <a type="button" href="#" class="text-decoration-none w-100 py-2 active">Halaman</a>
                    </li>
                    <li class="nav-item px-md-2">
                        <a type="button" href="#" class="text-decoration-none w-100 py-2">Tentang kami</a>
                    </li>
                    <li class="nav-item px-md-2">
                        <a type="button" href="#" class="text-decoration-none w-100 py-2">Panduan</a>
                    </li>
                    <li class="nav-item px-md-2">
                        <a type="button" href="#" class="text-decoration-none w-100 py-2">Terma dan syarat</a>
                    </li>
                </ul>

            </div>

            <div class="collapse navbar-collapse flex-grow-0 float-end" id="userCollapse">

                <ul class="navbar-nav">
                    <li class="nav-item d-none d-lg-block d-xl-block">
                        <a href="#" class="nav-link text-decoration-none w-100 py-2">
                            <span>Sign in<i class="ps-1" data-feather="user" height="20" width="20"></i></span>
                        </a>
                    </li>

                    <li class="nav-item d-xl-none d-lg-none">
                        <a class="nav-link" href="#">Sign in</a>
                    </li>

                    <li class="nav-item d-none d-lg-block d-xl-block px-2">
                        <a class="btn btn-success" href="#">Sell</a>
                    </li>

                    <li class="nav-item d-xl-none d-lg-none">
                        <a class="nav-link" href="#">Sell</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <section class="search-header">

        <div class="container">

            <div class="row py-3">
                <form method="GET" action="https://app-raynor.xqtqcxdu5z-jqp3v9yml450.p.runcloud.link/ads" accept-charset="UTF-8" id="search" class="search">

                    <div class="input-group m-0">
        
                        <div class="input-group col-12 p-0 mb-0">
                            <input class="form-control rounded-0 py-2 border-0" placeholder="Enter product or brand" name="q" type="text">
                            <div class="input-group-text rounded-0 border-0 bg-white p-1">
                                <button class="btn btn-primary text-center rounded-0 py-0" id="searchHeaderButton" type="button" style="display: none;">Button</button>
                            </div>
                        </div>
        
                            <select class="category form-select rounded-0 border-start-0 m-0 d-none d-md-block" name="category">
                                <option selected="selected" value="">All Categories</option>
                                <optgroup label="Vehicles">
                                    <option value="4">All Vehicles</option>
                                    <option value="1">Cars</option>
                                    <option value="8">Motorcycles</option>
                                </optgroup>
                                <optgroup label="Electronics">
                                    <option value="5">All Electronics</option>
                                    <option value="2">Mobile Phones &amp; Gadgets</option>
                                </optgroup>
                                <optgroup label="Properties">
                                    <option value="6">All Properties</option>
                                    <option value="3">Apartments</option>
                                    <option value="7">Houses</option>
                                </optgroup>
                            </select>
        
                            <select class="form-select rounded-0 border-start-0 border-end-0 m-0 d-none d-md-block" name="region">
                                <option selected="selected" value="">Entire Malaysia</option>
                                <option value="1">Johor</option>
                                <option value="2">Kedah</option>
                                <option value="3">Kelantan</option>
                                <option value="4">Kuala Lumpur</option>
                                <option value="5">Labuan</option>
                                <option value="6">Melaka</option>
                                <option value="7">Negeri Sembilan</option>
                                <option value="8">Pahang</option>
                                <option value="9">Penang</option>
                                <option value="10">Perak</option>
                                <option value="11">Perlis</option>
                                <option value="12">Putrajaya</option>
                                <option value="13">Selangor</option>
                                <option value="14">Sabah</option>
                                <option value="15">Sarawak</option>
                                <option value="16">Terengganu</option>
                            </select>
                    
                    </div>
        
                </form>
            </div>

        </div>
        
    </section>

    <section class="ads-page-content">

        <div class="container main">

            <div class="row">

                <div class="col-12">

                    <nav class="top-menu breadcrumb p-0 small">
                        <a class="breadcrumb-item text-decoration-none" href="#" title="Home">Laku</a>

                        <a class="breadcrumb-item text-decoration-none" href="#" title="Entire Malaysia">Entire Malaysia</a>

                        <a class="breadcrumb-item text-decoration-none" href="#" title="All Categories">All Categories</a>
                    </nav>

                </div>

            </div>

            <div class="row">
    
                <div class="col-12 col-md-9 order-1 order-md-0">
    
                    <div class="products">

                        <a class="text-decoration-none d-block" href="#">

                            <div class="card mb-3 rounded-0">
                            
                                <div class="card-body">
        
                                    <div class="row">
    
                                        <div class="col-4">
                                            <div class="product-image">
                                                <img src="./assets/images/car-1.jpeg">
                                            </div>
                                        </div>
    
                                        <div class="col-8">
    
                                            <div class="product-categories text-muted small">
                                                <span class="d-none d-md-inline-block">Mobile Phones &amp; Gadgets ·</span>
                                                <span>Kuala Lumpur</span>
                                            </div>
    
                                            <div class="product-post-date text-muted small">
                                                <span>21 Apr</span>
                                                <span>20:52</span>
                                            </div>
    
                                            <h3 class="product-title">
                                                iPhone 11 and others
                                            </h3>
    
                                            <div class="product-price">
                                                <span>RM1,000</span>
                                            </div>
        
                                        </div>
        
                                    </div>
        
                                </div>
        
                            </div>

                        </a>

                        <a class="text-decoration-none d-block" href="#">

                            <div class="card mb-3 rounded-0">
                            
                                <div class="card-body">
        
                                    <div class="row">
    
                                        <div class="col-4">
                                            <div class="product-image">
                                                <img src="./assets/images/car-2.jpeg">
                                            </div>
                                        </div>
    
                                        <div class="col-8">
    
                                            <div class="product-categories text-muted small">
                                                <span class="d-none d-md-inline-block">Cars ·</span>
                                                <span>Kelantan</span>
                                            </div>
    
                                            <div class="product-post-date text-muted small">
                                                <span>21 Apr</span>
                                                <span>20:47</span>
                                            </div>
    
                                            <h3 class="product-title">
                                                Affordable rate
                                            </h3>
    
                                            <div class="product-price">
                                                <span>RM5,000</span>
                                            </div>
        
                                        </div>
        
                                    </div>
        
                                </div>
        
                            </div>

                        </a>

                        <a class="text-decoration-none d-block" href="#">

                            <div class="card mb-3 rounded-0">
                            
                                <div class="card-body">
        
                                    <div class="row">
    
                                        <div class="col-4">
                                            <div class="product-image">
                                                <img src="./assets/images/car-3.jpeg">
                                            </div>
                                        </div>
    
                                        <div class="col-8">
    
                                            <div class="product-categories text-muted small">
                                                <span class="d-none d-md-inline-block">Cars ·</span>
                                                <span>Kelantan</span>
                                            </div>
    
                                            <div class="product-post-date text-muted small">
                                                <span>7 Jan</span>
                                                <span>15:03</span>
                                            </div>
    
                                            <h3 class="product-title">
                                                shoppegram
                                            </h3>
    
                                            <div class="product-price">
                                                <span>RM80,500</span>
                                            </div>
        
                                        </div>
        
                                    </div>
        
                                </div>
        
                            </div>

                        </a>

                        <a class="text-decoration-none d-block" href="#">

                            <div class="card mb-3 rounded-0">
                            
                                <div class="card-body">
        
                                    <div class="row">
    
                                        <div class="col-4">
                                            <div class="product-image">
                                                <img src="#">
                                            </div>
                                        </div>
    
                                        <div class="col-8">
    
                                            <div class="product-categories text-muted small">
                                                <span class="d-none d-md-inline-block">Mobile Phones &amp; Gadgets ·</span>
                                                <span>Selangor</span>
                                            </div>
    
                                            <div class="product-post-date text-muted small">
                                                <span>17 Jul</span>
                                                <span>17:37</span>
                                            </div>
    
                                            <h3 class="product-title">
                                                iphone 6S
                                            </h3>
    
                                            <div class="product-price">
                                                <span>RM499</span>
                                            </div>
        
                                        </div>
        
                                    </div>
        
                                </div>
        
                            </div>

                        </a>
    
                    </div>
    
                </div>

                <div class="col-12 col-md-3 order-0 order-md-1">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="#" class="ads-box-field bg-dark text-decoration-none d-block w-100">
                                <h4 class="text-white text-center border-bottom no-gutters mb-0">Postkan Iklan Anda</h4>
                                <p class="text-muted text-center mb-0">Secara percuma!</p>
                            </a>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>

    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Custom js -->
    <script defer="" src="./assets/js/main.bundle.js"></script>

</body>

</html>