<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie-edge">

<title>{{title}}</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css"/>

<!-- Feather icons -->
<script src="https://unpkg.com/feather-icons"></script>

<!-- Main css -->
<link href="./assets/css/main.bundle.css" rel="stylesheet">
